.blockForSms{
    width:100%;
    height:60%;
    border:1px solid grey;
    box-sizing: border-box;
    padding: 10px;
}
.MessageInput{
    margin-top: 100px;
}
.textArea{
    width:70%;
}
.textArea+input{
    width:20%;
}