.head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

    background: rgba(219, 13, 58,0.8);
    color:white;
    box-sizing: border-box;
    padding: 20px;
}

.menu{
     display: flex;
     flex-wrap: wrap;
     justify-content: end;   
}

a li{
    margin-right: 20px;
}