
a{
  color:inherit;
  text-decoration: none;
}
li{
    list-style: none;
    cursor: pointer;
}
p{
  font-size:14px;
}
.active{
  color:#f0afbd;
}
.flDis{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}
.content{
  margin: auto 10%;
}